<div class="clientes-container">
  <div class="page-header">
    <h1>Registro de Clientes</h1>
  </div>

  <div class="table-container">
    <div class="table-header">
    </div>

    <table class="clients-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Direccion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ client.nombre }}</td>
          <td>{{ client.apellido }}</td>
          <td>{{ client.correo }}</td>
          <td>{{ client.telefono }}</td>
          <td>{{ client.direccion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
